.general-wrapper .content {
	width:500px;
	max-width:96%;
	margin:40px auto 20px auto;
}

.row#header .col {
	color:#FFF;
	margin:0 0 -20px 0;
	z-index:99999;
}
.row#header .col .text {
	background-color:#3f7197;
	padding:10px 0;
	font-size:1.6em;
	text-align:center;
	font-family:Open Sans;
}